<form method="post" action="/<%= params[:file] %>/edit">
  <label for="content">Edit content of <%= params[:file] %>:</label>
  <div>
    <textarea name="content" id="content" rows="20" cols="100"><%= @content %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>
