<a href='/new'>Create new document</a>

<% @files.each do |file| %>
  <ul>
    <li>
      <a href='/<%= file %>'><%= file %></a>
      <a href='/<%= file %>/edit'>edit</a>
      <form method='post' action='/<%= file %>/delete'>
        <button type='submit'>delete</button>
      </form>
    </li>
  </ul>
<% end %>
