<a href='/new'>Create new document</a>

<% @files.each do |file| %>
  <ul>
    <li>
      <a href='/<%= file %>'><%= file %></a>
      <a href='/<%= file %>/edit'>edit</a>
    </li>
  </ul>
<% end %>
