<!doctype html>
<html lang="en-US">
  <body>
  <% if session[:error] %>
    <p><%= session.delete(:error) %></p>
  <% end %>
  <% @files.each do |file| %>
    <ul>
      <li>
        <a href='/<%= file %>'><%= file %></a>
        <a href="/<%= file %>/edit">edit</a>
      </li>
    </ul>
  <% end %>
  </body>
</html>
