<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>

<form method="post" action="/new">
  <label for='new_doc'>Add new document</label>
  <div>
    <input name='new_doc' id='new_doc'/>
    <button type='submit'>Create</button>
  </div>
</form>
